extends index.pug

block content

    //- each product

    //- payment type drop down
    if messages && messages.length
        .cart
            h3 #{messages}
    else
        .cart
            div(class="row productItems")
                each product in data
                    div(class="col-md-3 productItem")
                        h2 #{product['Products.name']}
                        h3 $#{product['Products.price']}
                    h6 #{product['Products.description']}
            form
                label(for="paymentType") Payment Method:
                if paymentOpts.length
                    select(name="productCategory", required)
                        option
                        each pay in paymentOpts
                            option #{pay.payment_name} #{pay.account}
                button Add Payment Method
                button(type="submit") Submit Order
                button Cancel Order


    //- add a payment -> route 
    

    //- cancel order button

    //- pay button > patch payment option
    




//- //need to view order for a user, view user payment options, add a new payment option, 
//- //add payment to an order, delete product from order, cancel order